* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Rubik', sans-serif;
}

/* ===========================header-css============= */

/* shared-css */
.primary-btn {
    border-radius: 4px;
    background: #F53838;
    padding: 10px 30px;
    border: none;
    color: white;
    width: 200px;
}

/* shared-css */
.nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
}

.logo img {
    width: 20px;
    height: 20px;
}


.middle-menu ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
}

.middle-menu ul li {
    list-style: none;
}

.middle-menu ul li a {
    text-decoration: none;
    color: #4F5665;
    font-size: 15px;
    font-weight: 400;
}

.end-menu ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
}

.end-menu ul li {
    list-style: none;
}

.end-menu ul li a {
    text-decoration: none;
    color: #4F5665;
    font-size: 15px;
    font-weight: 400;
}

.end-menu ul li .different-end {
    transition: all 0.5s ease-in;
}

.end-menu ul li .different-end:hover {
    color: #F53855;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #F53855;
    border-radius: 40px;
    padding: 10px;
}

.hero {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-text {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

/* ===========================header-css============= */

main {
    max-width: 50%;
    margin: 0 auto;
}

.each-user {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
}

.user-friendly {
    display: flex;
    justify-content: space-around;
}

.feature {
    gap: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.feature-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-feature img {
    width: 300px;
    height: 200px;
}

.each-list {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    margin-top: 10px;

    align-items: center;

}

.each-list i {
    background-color: #2FAB73;
    color: white;
    padding: 10px;
    border-radius: 50px;
}

.feature-plan h2 {
    text-align: center;
    color: #0B132A;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.feature-plan p {
    color: #4F5665;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;

}
.card-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:15px;
}
.card
{
   width: 35%;
   padding: 20px 20px;
   border: 1px solid gray;
}
figure img
{
    margin: 0 auto;
    width: 100%
}
.card h3,h4{
    text-align: center;
}
.subscribe
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.subcribe-text
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.subscribe-btn
{
    border-radius: 2.814px;
background: #F53838;
padding: 20px 30px;
border: none;
color: white;
}